<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>502273772741-vobnejtsga4pjt98qu8niqctc5738id4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.502273772741-vobnejtsga4pjt98qu8niqctc5738id4</string>
	<key>API_KEY</key>
	<string>AIzaSyBbpik5Crh-kTQO2Kj4jbfYUB0aTCyAqbs</string>
	<key>GCM_SENDER_ID</key>
	<string>502273772741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MultiTask-Tracker</string>
	<key>PROJECT_ID</key>
	<string>multitask-tracker-1b884</string>
	<key>STORAGE_BUCKET</key>
	<string>multitask-tracker-1b884.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:502273772741:ios:1725f1891c6e9922b5b4ac</string>
</dict>
</plist>